.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    span {
      opacity: 0.8;
    }
  }

  span {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
  }

  img {
    width: inherit;
    height: inherit;
    margin: 0 12px 0 0;
  }

  .bold {
    font-weight: 700;
  }
}